@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  border-radius: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: "Roboto Slab", serif;
}
#root {
  overflow-x: hidden;
}

.dark {
  background-color: #2d2d2d;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #2d2d2d;
}

.header {
  position: sticky;
  top: 0;
  height: 200px;
  width: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  max-width: 200px;
  max-height: 200px;
}

.theme-toggler {
  position: relative;
  display: inline-flex;
  float: right;
  padding: 10px;
}

.theme-toggler-btn {
  border: 1px solid;
  border-radius: 100px;
}

.theme-toggler-btn:focus {
  outline: 0;
}

.theme-toggler-btn i {
  font-size: 30px;
  padding: 10px;
}

.character-list-container {
  min-height: 100vh;
  overflow: hidden;
}

.character-col {
  padding: 20px;
}

.character-card {
  border: 2px solid rgb(72, 127, 90);
  border-radius: 8px;
  background-color: #555;
  color: #fff;
}

.character-card:hover {
  cursor: pointer;
}

.character-img {
  height: 450px;
}

.middle {
  transition: 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #2d2d2d;
  height: 100%;
  width: 100%;
}

.opacity-0 {
  opacity: 0;
}

.opacity-08 {
  opacity: 0.8;
}

.character-details {
  padding: 5px;
}

.quotes {
  max-width: 70%;
  font-size: 20px;
  float: right;
  text-align: right;
  padding: 10px;
}
